<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>this is create page</h1>
     <form action="/store" method="post">
          <label for="">title</label>
          <input type="text" name="title" placeholder="title">
          <label for="">message</label>
          <input type="text" name="message" placeholder="message">
          <button type="submit">submit the form</button>
     </form>
</body>
</html>