<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>hello this index page</h1>
     <a href="/create">create new post</a>
     <% posts.reverse().forEach(post =>{ %>
          <h1> title is : <%= post.title %> || <span> message is : <%= post.message %></span>
          <a href="/update/<%= post._id %> ">update post</a>
          <form action="/delete/<%= post._id %>" method="post"><button type="submit">delete post</button></form>
          </h1>
     <% }) %>
</body>
</html>